@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background: url(./images/smile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mbtititle {
  font-weight: bold;
  margin-top: 200px;
  font-size: 30px;
}

article {
  display: flex;
  flex-direction: column;
}
.question {
  display: none;
}
.result {
  display: none;
}
#img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

#nomatchmbti {
  width: 180px;
  height: 180px;
  margin: 20px auto 40px;
}

#title {
  font-weight: 600;
  font-size: 22px;
  margin: 100px auto 20px;
  line-height: 1.5;
}

#startBtn {
  border: none;
  color: #212121;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  height: 80px;
  border-radius: 16px;
  background-color: #eee;
  box-shadow: rgb(0, 0, 0, 0.7);
  margin: 50px auto 30px;
}
#startBtn:hover {
  background-color: #f7e600;
  color: #212121;
  font-weight: bold;
  font-size: 22px;
}

#startBtn:focus {
  border: none;
  outline: none;
}

#A {
  border: none;
  font-size: 18px;
  font-weight: 500;
  width: 280px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto 20px;
  padding: 0px 40px;
}

/* #A:hover {
  width: 280px;
  font-size: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
} */

#B {
  border: none;
  font-size: 18px;
  font-weight: 500;
  width: 280px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto;
  padding: 0px 40px;
}

#A:active {
  border: none;
  font-size: 20px;
  font-weight: 500;
  width: 280px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto 20px;
  background-color: #f7e600;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
}
#A:focus {
  border: none;
  outline: none;
}

/* #B:hover {
  width: 280px;
  font-size: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
} */

#B:active {
  border: none;
  font-size: 20px;
  font-weight: 500;
  width: 280px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto 20px;
  background-color: #f7e600;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
}

#B:focus {
  border: none;
  outline: none;
}

#friend {
  font-weight: bold;
  font-size: 22px;
  width: 280px;
  margin: 0 auto;
}

#explain {
  width: 280px;
  border-radius: 16px;
  background-color: #eee;
  font-size: 14px;
  padding: 20px 20px;
  line-height: 1.5;
  margin: 0 auto;
  font-weight: 500;
}

#nofriend {
  font-size: 22px;
  font-weight: 700;
  color: #81c147;
}

#nomatch {
  font-size: 17px;
  width: 240px;
  height: 100px;
  font-weight: 600;
  margin: 10px auto;
  word-break: break-all;
}

#restart {
  background-color: yellow;
  color: #212121;
  border: none;
  width: 180px;
  height: 40px;
  font-weight: 700;
  border-radius: 16px;
  margin: 0 auto 50px;
}

#restart:hover {
  background-color: #81c147;
  color: #ffffff;
}

#restart:focus {
  border: none;
  outline: none;
}

.nomatchFreind {
  border: 2px solid #009902;
  width: 280px;
  height: 400px;
  margin: 30px auto;
  border-radius: 10px;
}

.share {
  margin: 0 auto 30px;
}

.kakao_ad {
  width: 320px;
  margin: 30px auto;
}

.copyrightbox {
  height: 40px;
  background-color: #eee6c4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.copyright {
  width: 100%;
  font-size: 9px;
  line-height: 40px;
}

.copyright span {
  font-weight: 700;
}
