@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background: url(./images/smile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mbtititle {
  font-weight: bold;
  margin-top: 200px;
  font-size: 45px;
}

article {
  display: flex;
  flex-direction: column;
}
.question {
  display: none;
}
.result {
  display: none;
}
#img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#nomatchmbti {
  width: 200px;
  height: 200px;
  margin: 20px auto 60px;
}

#title {
  font-weight: 600;
  margin: 100px auto 40px;
}

#startBtn {
  border: none;
  color: #212121;
  font-size: 30px;
  font-weight: 600;
  width: 400px;
  height: 100px;
  border-radius: 16px;
  background-color: #eee;
  box-shadow: rgb(0, 0, 0, 0.7);
  margin: 100px auto;
}
#startBtn:hover {
  background-color: #f7e600;
  color: #212121;
  font-weight: bold;
  font-size: 34px;
}

#startBtn:focus {
  border: none;
  outline: none;
}

#A {
  border: none;
  font-size: 24px;
  font-weight: 600;
  width: 600px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto 20px;
  padding: 0px 40px;
}

#B {
  border: none;
  font-size: 24px;
  font-weight: 600;
  width: 600px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto;
  padding: 0px 40px;
}

#A:hover {
  border: none;
  font-size: 24px;
  font-weight: 600;
  width: 600px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto 20px;
  background-color: #f7e600;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
}
#A:focus {
  border: none;
  outline: none;
}

#B:hover {
  border: none;
  font-size: 24px;
  font-weight: 600;
  width: 600px;
  height: 100px;
  border-radius: 16px;
  margin: 40px auto 20px;
  background-color: #f7e600;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.07);
}

#B:focus {
  border: none;
  outline: none;
}

#friend {
  font-weight: bold;
}

#explain {
  width: 600px;
  border-radius: 16px;
  background-color: #eee;
  font-size: 20px;
  padding: 25px 20px;
  line-height: 1.3;
  margin: 0 auto;
  font-weight: 600;
}

#nofriend {
  font-size: 32px;
  font-weight: 700;
  color: #81c147;
}

#nomatch {
  font-size: 20px;
  width: 300px;
  height: 100px;
  font-weight: 600;
  margin: 10px auto;
  word-break: break-all;
}

#restart {
  background-color: yellow;
  color: #212121;
  border: none;
  width: 180px;
  height: 40px;
  font-weight: 700;
  border-radius: 16px;
  margin: 0 auto 50px;
}

#restart:hover {
  background-color: #81c147;
  color: #ffffff;
}

#restart:focus {
  border: none;
  outline: none;
}

.nomatchFreind {
  border: 2px solid #009902;
  width: 400px;
  height: 420px;
  margin: 40px auto;
  border-radius: 10px;
}
